In [11]:
import pandas as pd

refugee_table = pd.read_csv("clean_unhcr_refugee.csv", delimiter=',', encoding="latin-1")

refugee_table = refugee_table.loc[refugee_table["asylum"] == "United States of America"]

total = refugee_table.groupby(["asylum", "year"]).sum().reset_index().set_index("asylum")

In [10]:
total.to_csv("usa.csv", header = True)

In [28]:
refugee_table = pd.read_csv("clean_unhcr_refugee.csv", delimiter=',', encoding="latin-1")


highest = refugee_table.loc[refugee_table["year"] >= 1980].groupby("asylum").sum().sort_values("refugees", ascending = False).iloc[range(0,10)].drop("year", axis = 1)
highest.to_csv("most_refugees.csv", header = True)

In [34]:
highest = refugee_table.loc[refugee_table["year"] >= 1980].groupby("asylum").sum().sort_values("refugees", ascending = False).iloc[range(0,10)].drop("year", axis = 1)
highest = highest.replace("United States of America", "US")
highest

                          refugees
asylum
United States of America  21483264
Canada                    20831534
Sweden                    17356215
Germany                   14236198
Netherlands               14148368
Italy                     13717363
Australia                 13333147
United Kingdom            13078451
France                    12584412
Switzerland               11913758